body {
    color: #555;
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body, html{
	margin: 0;
	border: 0;
}

div.sched_bar {
	height: 50px; margin: -12px;
}
div.sched_bar:hover {
	background-color: rgb(217, 237, 247) !important;
	cursor: pointer;
}
div.sched_bar2 {
	height: 50px; margin: -12px;
}
div.sched_bar2:hover {
	cursor: pointer;
}
.sched_selected {
	background-color: rgb(217, 237, 247) !important;
}
span.sched_text {
	position: absolute;
	top: 25%;
	left: 10px
}
th a {
    color: #fff !important;
}
img, video, canvas {
  max-width: 100%;
}
.form-signup .form-group {
    margin-bottom: 5px !important;
}
.form-signup .form-group  label{margin-bottom: 0px !important;}
.form-signup {margin: 0; padding: 0 15px 15px;}
.q_notes {float: right}
.q_notes_block{display: ruby !important;}

.select2-container .select2-selection--single {height: 38px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 36px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 36px !important;}

/*styles for 300 and up @ 16px!*/
/* The max-width declaration below blocks this from ever working */
@media only all and (min-width: 18.75em) and (max-width: 30em) {
	body {
		/*background: yellow;*/
	}
	.navbar-brand {float: none !important;}
	.login-form-left{border-right: none !important;}
	.form-group .col-xs-6 {float: none !important; width: 100% !important;}
	.tbl_hide_element{display: none !important;}
	.q_notes_block{display: ruby !important;}
	.q_notes {font-size: 14px !important;font-weight: 100 !important;float: right !important;}
	.q-title h2{font-size: 20px !important;font-weight: 400 !important;display: inline-block;}
	.question_answer_panel .table td {font-size: 13px !important;padding: 0 !important;}
	.page_title{margin-top: 30px !important;}
	.page_title h3{font-size: 25px !important; margin-top: 10px;}
	table.tbl_survey_info td {font-size: 13px !important;padding: 5px !important;}
	.form-process .container {padding: 0 !important;}
	.form-process .cslide-slide {padding: 10px !important;}

	p, label {font-size: 13px !important;}
	.cslide-slide .form-group {margin-bottom: 0 !important;}
	.cslide-slide .form-group div{float: none !important; width: 100% !important;}
	.cslide-link, .cslide-next-skip, .cslide-next-info {font-size: 13px !important; padding: 5px 10px !important;}
}

/*styles for 480px - 620px @ 16px!*/
@media only all and (min-width: 30em) and (max-width: 38.75em) {
	body {
		/*background: green;*/
	}
	.navbar-brand {float: none !important;}
	.login-form-left{border-right: none !important;}
	.form-signin {max-width: 100% !important;}
	.form-signup {margin: 0; padding: 15px;}
	.tbl_hide_element{display: none !important;}
	.q_notes_block{display: ruby !important;}
	.q_notes {font-size: 14px !important;font-weight: 100 !important;float: right !important;}
	.q-title h2{font-size: 20px !important;font-weight: 400 !important;display: inline-block;}
	.question_answer_panel .table td {font-size: 13px !important;padding: 0 !important;}
	.page_title{margin-top: 30px !important;}
	.page_title h3{font-size: 25px !important; margin-top: 10px;}
	table.tbl_survey_info td {font-size: 13px !important;padding: 5px !important;}
	.form-process .container {padding: 0 !important;}
	.form-process .cslide-slide {padding: 10px !important;}

	p, label {font-size: 13px !important;}
	.cslide-slide .form-group {margin-bottom: 0 !important;}
	.cslide-slide .form-group div{float: none !important; width: 100% !important;}
	.cslide-link, .cslide-next-skip, .cslide-next-info {font-size: 13px !important; padding: 5px 10px !important;}
}

@media all and (min-width: 38.75em),only print,projector{
	body{
		/*background:red;*/
	}

	.login-form-left{border-right: none !important;}
	.form-signin {max-width: 100% !important;}
	.q_notes {font-size: 16px !important;}
}

@media all and (min-width: 38.75em) and (max-width: 50em){
	body {
		/*background: red;*/
	}
	.form-group .col-xs-6 {float: none !important; width: 100% !important;}
	.q_notes_block{display: ruby !important;}
	.q_notes {font-size: 16px !important;}
	.q-title h2{font-size: 25px !important;font-weight: 400 !important;display: inline-block;}
}

@media all and (min-width: 18.75em) and (max-width: 50em){
	.sweet-alert {
		padding: 10px !important;
	}
	.sweet-alert h2 {
		font-size: 20px !important;
		margin: 5px 0 !important;
		font-weight: 500 !important;
	}
	.sweet-alert .sa-icon {
		height: 60px !important;
		width: 60px !important;
	}
	.sweet-alert .sa-icon.sa-warning .sa-body {
		height: 27px !important;
		width: 5px !important;
	}
	.sweet-alert .sa-icon.sa-error .sa-line {
		height: 5px !important;
		width: 27px !important;
	}
	.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
		width: 15px !important;
		left: 14px !important;
    	top: 36px !important;
	}
	.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
		right: 8px !important;
    	top: 28px !important;
    	width: 32px !important;
	}
	.sweet-alert .sa-icon.sa-success .sa-placeholder {
		height: 60px !important;
		width: 60px !important;
	}
	.sweet-alert .sa-icon.sa-success .sa-fix {
		height: 63px !important;
	    left: 15px !important;
	    top: 8px !important;
	    width: 11px !important;
	}
	.sweet-alert .sa-icon.sa-success .sa-line {
		height: 5px !important;
	}
	.sweet-alert p {
		font-size: 14px !important;
	}
	.sweet-alert button {
		font-size: 15px !important;
	    font-weight: 400 !important;
	    margin: 16px 5px 0 !important;
	    padding: 5px 22px !important;
	}
}

/*styles for 800px and up @ 16px!*/
@media all and (min-width: 50em) and (max-width: 68.75em){
	body {
		/*background: blue;*/
	}
	.form-group .col-xs-6 {float: none !important; width: 100% !important;}
	.q_notes_block{display: ruby !important;}
	.q_notes {font-size: 16px !important;}
	/*.q-title h2{font-size: 25px !important;font-weight: 400 !important;display: inline-block;}*/
}

/*styles for 1100px and up @ 16px!*/
@media all and (min-width: 68.75em){
	body {
		/*background: orange;*/
	}
}

@media all and (min-width: 1200px){
	body {
		/*background: navy;*/
	}
}

@media only all and (min-width: 1250px) and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-width: 1250px) and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (min-width: 1250px) and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-width: 1250px) and (min-device-pixel-ratio: 1.5),
	only screen and (min-width: 1250px) and (min-resolution: 1.5dppx),
	screen and (min-width: 1250px) {

	body {
		/*background-color: pink;*/
	}
}